<launch>
    <include file="$(find motion_planning)/launch/mp.launch"/>

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find lwr_defs)/robots/kuka_lwr_arm.urdf.xml'" />
    <node pkg="motion_planning" type="marker_control.py" name="marker_control" output="screen"/>
    <node pkg="motion_planning" type="motion_planning.py" name="motion_planning" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz_simulation" args="-d $(find motion_planning)/config_file.rviz" output="screen"/>
</launch>
